<form [formGroup]="newForm">
  <br> <br>
  Name: <br><input type="text" name="name" formControlName="name"><br><br>
  Address: <br><input type="text" name="address" size="50" formControlName="address"><br><br>
  <fieldset>
    Gender: <br><input type="radio" name="gender" value="male" formControlName="gender">Male<br>
    <input type="radio" name="gender" value="female" formControlName="gender">Female<br>
    <input type="radio" name="gender" value="other" formControlName="gender">Others<br>
  </fieldset>

  <br>
    Cars You Like:
    <select formControlName="car">
      <option name="car" value="Audi">Audi</option>
      <option name="car" value="BMW" selected>BMW</option>
      <option name="car" value="Mercedes">Mercedes</option>
      <option name="car" value="Jeep">Jeep</option>
    </select>

  <br><br>
  <input type="submit" (click)="addInfo()">
</form>
